{% extends 'books/base.html' %}
{% load sekizai_tags static %}

{% block content %}

{% addtoblock "css" %}
<link href="{% static 'css/books/theme.css' %}" media="screen" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

<div class="book-block">
  <form action = "" method = "post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>

  <div class="actions">
    <a class="btn" href="{% url 'books:index' %}">List books</a>
  </div>
</div>

{% endblock content %}